/* Character Set */
@charset "UTF-8";

/* Basic Font Setup */
html {
    font-size: 14px;
    font-family: Archivo, sans-serif;
    line-height: 1.5;
    background-color: #fff;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

footer img{
    width: 250px !important;
    height: 250px !important;
    border-radius: 0.5rem;
}

input, select, textarea, button{
    box-shadow: none !important;
}

input:focus, select:focus, textarea:focus{
    border-color: #ffc107 !important;
}

.btn{
    border-radius: 5rem;
    color: #212529 !important;
    text-transform: uppercase;
    font-weight: 600;
    position: relative;
}

.btn-outline-warning {
    position: relative;
    overflow: hidden;
}

.btn span{
    position: relative;
    z-index: 1;
}

.btn-outline-warning::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #ffc107;
    transition: all 1s;
    z-index: 0;
}

.btn-outline-warning:hover {
    background: none;
    color: #000;
}

.btn-outline-warning:hover::after {
    width: 100%;
}

.galeria-productos{
    gap: 0.25rem;
}

.galeria-productos .img-thumbnail{
    width: 56px;
    height: auto;
    cursor: pointer;
    border: 1px solid transparent;
    transition: border 0.2s linear;
}

.galeria-productos .img-thumbnail:hover,
.galeria-productos .img-thumbnail:focus,
.galeria-productos .img-thumbnail.active{
    border: 1px solid #ffc107;
}

.product-main-image {
    aspect-ratio: 1; /* https://caniuse.com/?search=aspect-ratio me tira bien */
    max-height: 400px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-main-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}